* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  width: 100%;
  height: 20vh;
  background-color:#74adc4a0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}
header .logo {
  width: 341px;
  height: 200%;
}
header .logo img {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 991px) {
  header {
    height: 39vh;
    min-width: 320px;
    min-height: 245px;
    background-image: url(./image/photo_2024-11-08_14-07-02-removebg-preview.png);
    background-size: 80% 80%;
    background-repeat: no-repeat;
    background-position: bottom;
    align-items: flex-start;
  }
  header .logo {
    display: none;
  }
  header nav {
    width: 100%;
    background-color: rgba(0, 0, 0, 0);
  }
}
#home {
  animation: home 10s infinite alternate ease-in;
}

@keyframes home {
  0% {
    background-image: url(./image/1.jpg);
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
  }
  25% {
    background-image: url(./image/2.jpg);
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
  }
  75% {
    background-image: url(./image/3.jpg);
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
  }
  100% {
    background-image: url(./image/4.jpg);
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
  }
}
#contact {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  height: 100%;
}
#contact > form {
  width: 35%;
  height: auto;
  box-shadow: 0 0 5px grey;
  transform: scale(1.05);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  padding: 10px;
  min-width: 300px;
}
#contact > form input {
  width: 90%;
  padding: 12px;
  margin: 5px;
  transition: 1s all ease-in-out;
}
#contact > form input:hover {
  transform: scale(1.05);
}
#contact > form > p {
  width: 90%;
  padding: 0 5px;
}
#contact > form #message {
  height: 200px;
  margin-bottom: 5px;
}
#contact > form button {
  background-color: rgba(0, 0, 0, 0.011);
  border: solid 1px white;
  padding: 5px 10px;
  cursor: pointer;
}
#contact > form button:hover {
  background-color: grey;
  color: white;
  box-shadow: 0 0 5px grey;
}
#contact > .contact-info {
  width: 50%;
  height: 96vh;
  min-width: 289px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  align-self: flex-end;
}
#contact > .contact-info .social {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  padding: 0px;
}
#contact > .contact-info .social .contact {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}
#contact > .contact-info .social .socinfo {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
}
#contact > .contact-info .social .socinfo a {
  padding: 5px;
  text-decoration: none;
  text-decoration: none;
  color: rgb(17, 17, 17);
  font-weight: 600;
}
#contact > .contact-info .social .socinfo a img {
  width: 28px;
  height: 28px;
}

@media screen and (max-width: 767px) {
  #contact form {
    flex-grow: 1;
    margin-top: 20px;
  }
  #contact .contact-info {
    min-width: 299px;
    height: auto;
    flex-grow: 1;
    justify-content: center;
  }
  #contact .contact-info .social {
    padding: 0;
  }
}
#about {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
#about > .about-blocks {
  width: 50%;
  height: 70%;
  min-width: 300px;
  padding: 20px;
}
#about > .about-blocks > video {
  width: 100%;
  height: 100%;
}
#about > .about-blocks > video source {
  width: 100%;
  height: 100%;
}
#about h1 {
  width: 100%;
}
#about .text {
  overflow: auto;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
}
#about .text > p {
  text-align: justify;
}
@media screen and (max-width: 767px) {
  #about {
    width: 100%;
    height: auto;
  }
  #about > .about-blocks {
    width: 100%;
    height: 400px;
    padding: 50px;
  }
}

main {
  width: 100%;
  height: auto;
  border: solid;
  padding-top: 20vh;
  background-image: url();
}
main .container {
  width: 100%;
  height: 100vh;
  background-color:#74adc47a;
  
  margin-top: 1px;
 
  
}


@media screen and (max-width: 991px) {
  main {
    padding-top: 270px;
    min-width: 320px;
  }
}
.pictures {
  border: solid;
  width: 100%;
  height: auto;
  background-color: #cfcdc9;
  position: relative;
  min-width: 280px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.pictures > p {
  position: absolute;
  bottom: 10%;
  right: 5%;
  width: 60px;
  height: 60px;
  background-color: black;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.pictures > p > a {
  color: grey;
  text-decoration: none;
}
.pictures > img {
  width: 200px;
  height: 250px;
  margin: 10px;
}

footer {
  width: 100%;
  height: 50px;
  background-image: url();
  min-width: 320px;
  display: flex;
  align-items: center;
  justify-content: center;
}
footer > p {
  color: rgb(11, 12, 12);
}
footer > p > a {
  text-decoration: none;
  color: rgb(25, 23, 23);
}
footer > p::first-letter {
  color: rgb(18, 17, 17);
}

video {
  width: 500px;
  height: auto;
  
  display: inline-block;
  align-items: center;
  justify-content: center;
  margin: 10px;
}

html {
  scroll-behavior: smooth;
  scrollbar-color: antiquewhite rgba(0, 0, 0, 0);
  scrollbar-width: thin;
}/*# sourceMappingURL=style.css.map */